body{
    margin: auto;
    width: auto;
    background-color: rgb(83, 83, 216);
    color: white;
}

.logo {
    position: absolute;
    top: 3%;
    left: 3%;
}

.logo img {
    max-width: 50px;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 5vh 0;
}

.nav a {
    text-decoration: none;
    color: aqua;
}

.nav li {
    margin: 0 2vw;
}

.body {
    padding: 5vh 0 0 5vw;
    display: flex;
}

.aboutme {
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: justify;
}

.randomfacts {
    padding: 0 0 0 5vw;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.randomfacts p {/*todo*/

}

.randomfacts img {/*todo*/
    max-width: 20vw;
    max-height: 20vh;
}

.sports,.games,.food {
    display: flex;
    height: 110px;
}
.food img {
    position: relative;
    top: 60px;
    left: 40px;
}

.games img {
    position: relative;
    left: 50px;
    bottom: 20px;
    rotate: 20deg;
}

.games img:first-of-type {
    transform: scale(1.8);
    top: 20px;
    left: 20px;
    rotate: 340deg;
}

.games img:last-of-type {
    top: 20px;
    transform: scale(0.8);
}

.footer a{
    width: 10%;
    margin: 0 1vw;
}

.footer a img{
    max-width: 4vw;
}

.footer {
    position: fixed;
    bottom: 1vh;
    left: 70vw;
}