body{
    margin: auto;
    width: auto;
    background-color: rgb(83, 83, 216);
    color: white;
}

.logo {
    position: absolute;
    top: 3%;
    left: 3%;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 5vh 0;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav li {
    margin: 0 2vw;
    transition: 0.6s;
    font-size: 26px;
}

.nav li:hover {
    text-decoration: underline;
    color: yellow;
}

.logo img {
    max-width: 50px;
}

.body {
    padding: 5vh 0 0 5vw;
}

.myname {
    width: 35vw;
    margin: 0 0 5vh 0;
}

.learning {
    width: 35vw;
}

.button button {
    padding: 2vh 4vw;
    font-size: 30px;
    position: relative;
    top: 15vh;
    left: 7vw;
    background-color: rgb(71, 9, 153);
    border-radius: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    transform: translateY(-20px);
}

.footer a{
    width: 10%;
    margin: 0 1vw;
}

.footer a img{
    max-width: 4vw;
}

.footer {
    position: fixed;
    bottom: 1vh;
    left: 80vw;
}

.moi {
    width: 30%;
    position: absolute;
    display: block;
    left: 50%;
    box-shadow: 7px 7px 2px rgb(12, 49, 90);
}

.language {
    margin: 0 2% 0 0;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
}

.language:hover {
    background-color: rgb(170, 89, 247);
    color: white;
    border: 1px solid white;
}